# Ignore Python Virtual Environment
.venv/
venv/
__pycache__/
*.pyc

# Ignore Mac/Windows system files
.DS_Store
Thumbs.db

# Ignore environment variables / secrets (Safe practice)
.env


# Output artifacts (We don't want screenshots in Git)
**/output/*
**/db/*

# But keep the .keep file if it exists anywhere
!**/output/.keep
!**/db/.keep
